.container {
  width: 100vw;
  /* padding: 2rem 0rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 120rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
